spring:
  kafka:
    bootstrap-servers: http://kafka:29092
    consumer:
      enable-auto-commit: false
      auto-offset-reset: earliest
      client-id: kafka-samples-client
      group-id: kafka-samples
#      properties:
#        isolation.level: read_committed
    properties: # for KafkaAvroDeserializer
      schema.registry.url: http://schema-registry:8081
      specific.avro.reader: true
  profiles:
    active: development

topics:
  example-data: example-data-topic
  retry-data: retry-topic
  raw-transaction-data: raw-transaction-topic